body{
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.767);
    text-align: center;
}

h1 {
    color: aquamarine;
    text-decoration: 1px underline;
    margin-bottom: 20px;
}

.contenedor-perro {
    padding: 50px;
}